<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Henrietha's Spring</title>
</head>
<body>
    <h1>Book List</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Publisher</td>
        </tr>

        <tr th:each="book: ${books}">
            <td th:text="${book.id}">6478</td>
            <td th:text="${book.title}">Simplified</td>
            <td th:text="${book.publisher.name}">Joseph</td>
        </tr>
    </table>
</body>
</html>